figcaption{
  font-family: "Georgia", serif;
}
p{
font-family: "Georgia", serif;
}
h2{
  font-family: "Georgia", serif;
}
h3{
  font-family: "Georgia", serif;
}
p {
	   text-indent: 3%;
            }
h2{
text-align: center
}
h3{
  p {
	   text-indent: 3%;
            }

}
